#about {
    min-height:100vh;
    display: flex;
    flex-direction: column;
    font-size: calc(2px + 2vmin);
    width: 50vw;
    margin: 0 auto;
    text-align: justify;
}

#about h1 {
    text-align: center;
}