@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;
}

.hero {
    max-height:100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.2em;
}

.left {
    padding: 10px;
    flex: 1.2;
    display: flex;
    flex-direction: column;
}

.statement {
    width: 90%;
    /* text-align: justify; */
    margin: 1rem 0 0 0;
}

.right {
    padding: 10px;
    flex: 0.8;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dev {
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.greet {
    margin: 0;
    font-size: 1.2em;
}

.btn {
    border-radius: 8px;
    background-color: white; 
    border: 2px solid #0fada1;
}

.btn:hover {
    background-color: #0fada1;
    color: white;
    cursor: pointer;
}

.left a {
    margin-top: 20px 0 0 0;
}

.name {
    color:#0fada1;
    font-weight: bold;
    font-size: 1.5em;
    margin-left: 2px;
}