@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.hero {
    min-height:100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
    color: white;
    font-family: 'Press Start 2P', cursive;
}

.greet {
    text-shadow: 4px 3px 0 #5c6060;
}

.my-name {
    text-shadow: 4px 3px 0 #0fada1;
}

.btn {
    border-radius: 8px;
    background-color: white; 
    color: black; 
    border: 2px solid #0fada1;
}

.btn:hover {
    background-color: #0fada1;
    color: white;
}
