.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: white;
  font-size: 18px;
  padding: 1rem;
}

.contact {
  border: 2px white solid;
  border-radius: 10px;
}

.contact h3 {
  margin: 100px 0;
}