html {
  box-sizing: border-box
}

*,
*:before,
*:after {
  box-sizing: inherit
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

article,
footer,
header,
main,
nav,
section {
  display: block
}

@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: local("Lato Regular"), local("Lato-Regular"), url(//themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format("woff");
}

:root {
  font-family: Lato, sans-serif;
  --background-color: #f1f1f1;
  --text-color: #000;
  --highlight-color: #448FA3;
  --card-color: rgba(255, 255, 255, 1);
  --shadow-color: rgba(0, 0, 0, 0.2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #2c2c2c;
    --text-color: #f8f9fa;
    --card-color: rgba(255, 255, 255, 0.15);
    --shadow-color: rgba(255, 255, 255, 1);
  }

  .card {
    background-color: var(--card-color);
    box-shadow: 0 4px 8px 0 var(--shadow-color);
  }

  .card:hover {
    box-shadow: 0 8px 16px 0 var(--shadow-color);
  }
}

::selection {
  color: var(--background-color);
  background-color: var(--highlight-color);
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  max-width: 75vw;
  margin: auto;
}

.App {
  line-height: 1.5;
  font-size: 1.2em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}

.technologies {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  /* width: auto; */
  margin: 10px 0;
}