html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h3 {
  display: inline;
  padding: 1em;
  color: white;
}
