@font-face {
  font-family: Lato;
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: local("Lato Regular"),local("Lato-Regular"),url(//themes.googleusercontent.com/static/fonts/lato/v7/qIIYRU-oROkIk8vfvxw6QvesZW2xOQ-xsNqO47m55DA.woff) format("woff");
}

:root {
  font-family: Lato,sans-serif;
}

::selection {
  color: var(--background-color);
  background-color: var(--text-color);
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

body {
  max-width: 75vw;
  margin: auto;
}

.App {
  line-height: 1.5;
  font-size: 1.2em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media only screen and (max-width:900px) {
  body {
    max-width: 100vw;
  }

  nav.main-nav {
    display: none;
  }
  
  footer nav {
    flex-direction: column;
    font-size: 1.2em;
  }

  p {
    line-height: 1.5rem;
  }

  ul {
    padding: 0;
  }

  .container {
    display: block;
  }

  .image-container {
    display: none;
  }
}

@media only screen and (max-width:960px) {

  footer,
  main {
    max-width: 100vw;
    padding: 40px;
  }
}

:root {
  --background-color: #f1f1f1;
  --text-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
      --background-color:#000000;
      --text-color: #f8f9fa;
  }
}
